extends layout

block content

	script(type="text/javascript").
		$(document).on("ready", function() {
			$("#diff").keyup(function() {
				calculateOmc();
			});
			$("#hrate").keyup(function() {
				calculateOmc();
			});
		});
		var diff,
			hrate,
			coinsPerYear,
			htime,
			blocksPerYear,
			bcoins = 1000.0;
			var calculateOmc = function() {
			diff = document.getElementById("diff").value;
			hrate= document.getElementById("hrate").value;
			htime = diff * (Math.pow(2.0, 32) / (hrate * 1000.0));
			blocksPerYear = (365.25 * 24.0 * 60.0 * 60.0) / htime;
			coinsPerYear = bcoins * blocksPerYear;
			document.getElementById("cpd").value = (coinsPerYear / 365.25).toFixed(8);
			document.getElementById("cpw").value = (coinsPerYear / 52).toFixed(8);
			document.getElementById("cpm").value = (coinsPerYear / 12).toFixed(8);
		};
	p.
		This calculator is provided free of charge to gain a rough approximation 
		of how many Omnicoins you can earn within a given time period.
	br
	table
		tr
			td
				label(for="diff") Difficulty:
			td
				input(type="text", name="diff", value!=difficulty)#diff
		tr
			td
				label(for="hrate") Hash Rate (KH/s):
			td
				input(type="text", name="hrate")#hrate
	div.medium.primary.btn
		a(href="#", onClick="calculateOmc();return(false);") Calculate 
	hr
	table
		tr
			td
				label(for="cpd") OMC Per Day:
			td
				input(type="text", name="cpd", disabled)#cpd
		tr
			td
				label(for="cpw") OMC Per Week:
			td
				input(type="text", name="cpw", disabled)#cpw
		tr
			td
				label(for="cpm") OMC Per Month:
			td
				input(type="text", name="cpm", disabled)#cpm
	hr
	h3 Changelog
	ul.disc
		li [01/15/2014]Now it grabs the difficulty automatically!
		li [01/15/2014]Moving it to its own independent site.
		li [01/15/2014]Now it'll calculate as fast as you can type.
		li [01/15/2014]Moving the domain to w1n5t0n.pw, since I had that sitting around.
		li [01/15/2014]Open Sourced on Github! Have at ye! Submit pull requests if you can improve upon it!
		li [01/15/2014]Removed Coins Per Year, because of Block Halving every 6 months, instead replacing it with Coins Per Week.
		li [01/19/2014]Added a workaround so the site will load even when the API is down.