.sprite {
    background-image: url(/images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-github {
    width: 32px;
    height: 32px;
    background-position: -5px -5px;
}

.sprite-rss {
    width: 32px;
    height: 32px;
    background-position: -47px -5px;
}

.sprite-twitter {
    width: 32px;
    height: 32px;
    background-position: -5px -47px;
}
